<nav class="nav-bar">
    <div class="nav-title">
        <a href="/"><h1>Dog Stories</h1></a>
    </div>
    <ul id="nav-links">
        <li><a href="/">Dog Stories</a></li> 
        <h1>|</h1>
        <li><a href="/about">Learn about dogs</a></li> 
        <h1>|</h1>
        <li><a href="/blogs/create">Create a new story</a></li>
    </ul>
</nav>