<nav class="nav-bar">
    <div>
        <h6 id="nav-title">The Canine Times</h6>
    </div>
    <ul id="nav-links">
        <li><a href="/">Dog Stories</a></li> 
        <h1>|</h1>
        <li><a href="/about">Learn about dogs</a></li> 
        <h1>|</h1>
        <li><a href="/blogs/create">Create a new story</a></li>
    </ul>
</nav>