<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs")%>
<body class="about-bg">
    <%- include("./partials/nav.ejs")%>
    <div class="about">
        <h1>About</h1>
        <img src="https://i.imgur.com/5SWDS37.jpeg" alt="Osito in the mountain">
    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>