<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs")%>
<body>
    <%- include("./partials/nav.ejs")%>
    <div class="about">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo saepe numquam laboriosam et illo ullam cupiditate placeat, unde, doloribus vitae, provident quod voluptatem commodi. Excepturi aut cumque repudiandae omnis expedita.</p>
    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>