body{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: 'Times New Roman', Times, sans-serif;
    max-width: 1200px;
    background: rgba(0, 0, 0, 0.863);
  }
img {
  max-width: 20%;
  max-height: 20%;
  border-radius: 20%;
}
  p, h1, h2, h3, a, ul {
      text-decoration: none;
      margin: 0;
      padding: 0;
      color: rgb(255, 255, 255);
  }

  p { 
    text-indent: 30px;
 }