body{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: 'Times New Roman', Times, sans-serif;
    max-width: 1200px;
    background: rgba(0, 0, 0, 0.863);
  }

  p, h1, h2, h3, a, ul {
      text-decoration: none;
      margin: 0;
      padding: 0;
      color: rgb(255, 255, 255);
  }

  nav {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 60px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      text-transform: uppercase;
  }

  nav ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  nav li{
    list-style-type: none;
    margin-left: 20px;
  }
  nav h1{
    font-size: 3em;
  }
  nav p, nav a{
    color: #777;
    font-weight: 300;
  }

  footer {
      color: gray;
      text-align: center;
  }
  .create {
      color: white;
  }